rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /pendingUsers/{email} {
      allow create: if true;
      allow read, update: if isAdmin();
    }

    match /approvedUsers/{email} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /otpCodes/{email} {
      allow read, write: if true;
    }

    match /admins/{email} {
      allow read: if true;
    }

    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.resource.id)) ||
        (request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.token.email)));
    }
  }
}
